/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');


*{
	margin: 0;
	padding: 0;
}

body,h1,h2,h3,h4,h5,h6,p,span,input,button{
	font-family: 'Playfair Display', serif;
}

.container{
	width: 90%;
	margin: 0 auto;
	background:white;
}

a,a:hover{
	text-decoration: none;
}
/* header section css */
.header{
	width: 100%;
	position:fixed;
	background-color:#9e9e9e;
	display: flow-root;
}
.navbar{
	width: 100%;
	float: left;
	padding: 3% 0px;
}
.logo{
	width: 20%;
	float: left;
	font-size: 22px;
	text-align: left;
}
.menu-item{
	width: 80%;
	float: right;
	text-align: right;
}
.menu-item ul li{
	list-style: none;
	display: inline-block;
	
	margin-left: 10px;
	margin-right: 20px;
}
.menu-item ul li a{
	text-transform: uppercase;
	color: #4a4848;
	font-size: 22px;
}
.menu-item ul li a:hover{
	color: black;
}

/* banner section css */
.banner{
	width: 100%;
	padding-top:96px;
	display: flow-root;
	
}
.post-content{
	padding: 56px;
}
.category{
	text-transform: uppercase;
	color: #b4ad9e;
	font-size: large;
}
.title{
	color: #626262;
	margin: 20px 0;
	font-size: x-large;
	font-weight: initial;
}
.desc{
	color: #626262;
	font-size: large;
	margin-bottom: 80px;
}
.comment{
	text-transform: uppercase;
	color: #b4ad9e;
}

/* post gallery css */

.posts{
	width: 100%;
	display: flow-root;
}
.gallery{
	padding: 80px 56px;
	display: flow-root;
}
.post{
	width: 100%;
	padding-bottom: 50px;
	float: left;
}
.left{
	width: 48%;
	float: left;
}
.right{
	width: 48%;
	float: right;
}
.post .category{
	margin-top: 24px;
}

/* subscription section css */
.subscription{
	width: 100%;
	display: flow-root;
	text-align: center;
	background-color:#9e9e9e;
	margin: 60px auto;
} 
.subscription .form-body{
    padding: 60px 0;
}

.subscription h1{
	color: #4a4848;
    font-weight: initial;
	font-size: 32px;
	margin-bottom: 40px;
}
.subscription .container{
	background-color:#9e9e9e;
}
::placeholder{
	color:#4a4848;
}
form input{
	padding: 15px 0px;
    width: 32%;
    border: none;
	color:white;
	background:transparent;
    border-bottom: 2px solid #4a4848;
}
form input:focus{
	outline: none;
}

form input::placeholder{
	font-size:large;
}
form{
	position: relative;
}
form i{
	position: absolute;
	top: 32%;
        right: 34%;
    
}

.load-more{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 100px;
}
.load-more button{
	padding: 20px 40px;
    background: transparent;
    border: none;
    border: 2px solid #626262;;
    font-size:25px;
}
.load-more button:focus{
	outline: none;
}
/* footer section css */
a,a:hover{
	text-decoration: none;
}
.footer{
	width: 100%;
	display: flow-root;
	background:#9e9e9e;
}
.n{
	width: 100%;
	float: left;
	margin: 40px auto;
}
.t{
	width: 30%;
	float:left;
	display: inline-block;
}
.t ul li{
	list-style: none;
	float: left;
	font-size:20px;
	font-weight: initial;
    margin-right:17px;
} 

.t ul li a{
	color: #4a4848;
}
.social-icon{
	text-align:right;
	float: right;
	width: 70%;
	font-size:20px;
	font-weight: initial;
	display: inline-block;
	color: #4a4848;
}
.social-icon ul li{
	list-style: none;
	display: inline-block;
	color: #4a4848;
	margin-right: 10px;
	margin-left:10px;
}
.social-icon ul li a i{
	color: #4a4848;
	font-size:20px;
}
.social-icon ul li a i:hover{
	transform: scale(1.7);
	transition: 0.5s;
	font-size:20px;
}
.social-icon ul li a:hover{
	color: black;
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 250px to 479px
*/
@media (min-width: 250px) and (max-width: 480px) {

 .navbar{
	width: 100%;
	float: left;
	padding: 1% 0px!important;
 }

.logo{
	width: 20%;
	float: left;
	font-size: 8px!important;
	text-align: left;
 }
.logo img{
	width: 70%;
	float: left;
	font-size: 15px!important;
	text-align: left;
 }
 .menu-item{
	width: 70%;
	float: right;
	text-align: right;
 }
 .menu-item ul li{
	list-style: none;
	display: inline-block;
	
	margin-left: 3px!important;
	margin-right: 3px!important;
 }
 .menu-item ul li a{
	text-transform: uppercase;
	color: #4a4848;
	font-size: 12px!important;
 }

}
